* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #00adb5;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.light {
    background: #f4f4f4;
}

.card {
    background: white;
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #007b83;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 90%;
    }

    form {
        width: 90%;
    }
}